.todosHeader {
   flex: 0.2;
   display: flex;
   justify-content: space-between;
   border-bottom: 3px solid hsl(240, 30%, 35%);
}

.quantityTasks {
   align-self: flex-end;
   font-size: 1.5em;
   margin-right: 10px;
}

.title {
   margin-left: 10px;
}

