.formWrapper {
   flex: .4;
   margin: 10px;
   background-color: hsl(240, 16%, 60%);
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.todoForm {
   height: 50%;
   flex: 0.8;
   background-color: hsl(60, 40%,90%);
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.textInput{
   height: 30%;
   width: 60%;
   padding-left: 3px;
   padding-right: 3px;
   outline: none;
   border: none;
   border-bottom: 1px solid black;
   background-color: hsl(60, 40%,90%);
   margin-bottom: 10px;
   position: absolute;
   left: 15px;
   top: 17px;
   color:hsl(240, 16%, 30%);
}

button {
   background-color: hsl(60, 40%,90%);
   border: none;
   align-self:center;
   border-radius: 5px;
   position: absolute;
   right: 10%;
   color: hsl(240, 16%, 30%);
   font-size: 1em;
}