.todoWrapper {
   margin: 10vh auto;
   display: flex;
   flex-direction: column; 
   width: 60vw;
} 

.content {
   overflow: auto;
   width: 60%;
   display: flex;
   flex-direction: column; 
   align-self: center;
}
