.todosHeader {
   flex: 0.2;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   background-color: hsl(240, 16%, 60%);
}